<div class="url-wrap" ng-controller="UrlController">
	<div class="url-content">
		<ul class="url-list">
			<li class="url-card" ng-repeat="item in urlData">
				<div class="card-content">
					<div class="url-vote">
						<div class="url-vote-up" ng-click="voteUp(item.id)"  id="url-vote-up-{{item.id}}">△</div>
						<div class="url-vote-down" id="url-vote-down-{{item.id}}">▽</div>
					</div>
					<div class="url-title">
                        <a href="{{item.url}}">{{ item.title}} </a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
